 <%- include("../partials/header", {}) %>  

<form method='get' action='/getname' class='signin-form'>
    <label for='firstName'>First name</label>
    <input type='text' name='firstName' />
    <button type='submit'>Submit</button>
</form>


<%- include("../partials/footer",{}) %> 